# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Dustin will be requested for review when someone opens a pull request.
*       @Dustin

# Core implementation
*.js    @Dustin
*.py    @Dustin

# Documentation
/docs/   @Dustin
*.md     @Dustin

# GitHub CI/CD
/.github/ @Dustin
